dataset/**/out
dataset/**/temp_docs
**.pyc
.DS_Store
**/.DS_Store

dataset/SemEval2010_full/test/out*/**
dataset/SemEval2010_full/test_answer/out*/**
dataset/SemEval2010_full/train/out*/**
dataset/SemEval2010_full/trial/out*/**

dataset/arxiv-dataset/test.txt
dataset/arxiv-dataset/train.txt
dataset/arxiv-dataset/val.txt
dataset/arxiv-dataset/vocab

dataset/pubmed-dataset/test.txt
dataset/pubmed-dataset/train.txt
dataset/pubmed-dataset/val.txt
dataset/pubmed-dataset/vocab

dataset/kp20k/test.json
dataset/kp20k/train.json
dataset/kp20k/val.json

dataset/cnn/**